h1{
	color:blue;
}
#snow {
	width: 100%;
}
.loginForm {
	margin-top: 50px;
	
}
.loginFormGroup {
	margin-right: 0px;
}
.loginFormGroup input {
	position: absolute;
	right: 0px;
}
.container {
	width: 100%;

}
.greyBack {
	background-color: darkgrey;
}
