<div class="container" ng-controller="businessCtrl">
    <h2><span ng-bind="business_info[0].name"></span>'s Page of Progress!</h2>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <th>Charity donated to:</th>
                    <th>Hashtag:</th>
                    <th>Time left:</th>
                    <th>Description:</th>
                    <th>Total donation:</th>
                    <th>Money left to raise:</th>
                </thead>
                <tbody ng-repeat="business in business_info">
                      <tr>
                        <td ng-bind="business.charity"></td>
                        <td>#<span ng-bind="business.hashtag" ng-if="business.hashtag"></span></td>

                        <td><span ng-if="business.timeLeft.weeks"><span ng-bind="business.timeLeft.weeks" ></span> weeks </span><span ng-if="business.timeLeft.days"><span ng-bind="business.timeLeft.days"></span> days </span><span ng-if="business.timeLeft.hours"><span ng-bind="business.timeLeft.hours" ></span> hours </span><span ng-if="business.timeLeft.minutes"><span ng-bind="business.timeLeft.minutes"></span> minutes </span>

                        </td>

                        <!-- <span ng-bind='customer.timeHere.weeks' ng-if='customer.timeHere.weeks'></span><span ng-if="customer.timeHere.weeks"> weeks </span>
                                      <span ng-if='customer.timeHere.days' ng-bind='customer.timeHere.days'></span><span ng-if='customer.timeHere.days'> days </span>
                                      <span ng-bind='customer.timeHere.hours' ng-if='customer.timeHere.hours'></span><span ng-if='customer.timeHere.hours'> hours </span>
                                      <span ng-bind='customer.timeHere.minutes' ng-if="customer.timeHere.minutes"></span><span ng-if='customer.timeHere.minutes'> minutes </span> -->


                        <td ng-bind="business.donationscol"></td>
                        <td ng-bind="business.total_amount"></td>
                        <td ng-bind="business.amount_left"></td>
                      </tr>
                      <tr>
                        <td colspan="6">
                          <div class="progress">
                              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{(business.total_amount - business.amount_left)/business.total_amount * 100}}" aria-valuemin="0" aria-valuemax="100" style="width:{{(business.total_amount - business.amount_left)/business.total_amount * 100}}%">
                                  $ {{(business.total_amount - business.amount_left)}} / {{business.total_amount}}
                              </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                          <td colspan="6">
                             <p ng-repeat="x in hashtagData.statuses">{{x.text}}<p>
                         </td>
                      </tr>

                    </div>
                    <!-- <tr ng-repeat="business in business_info">
                        <td ng-bind="business.charity"></td>
                        <td ng-bind="business.hashtag"></td>
                        <td ng-bind="business.expiration_date"></td>
                        <td ng-bind="business.donationscol"></td>
                        <td ng-bind="business.total_amount"></td>
                        <td ng-bind="business.amount_left"></td>
                        <td>
                          <div class="progress">
                              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{business.amount_left/business.total_amount * 100}}" aria-valuemin="0" aria-valuemax="100" style="width:{{business.amount_left/business.total_amount * 100}}%">
                                  $ {{business.amount_left}} / {{business.total_amount}}
                              </div>
                          </div>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>
