<div class="container" ng-controller="loginCtrl">
    <h2>	WELCOME DOMINO'S </h2>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-striped">
                <thead>
                    <th>Charity donated to:</th>
                    <th>Hashtag:</th>
                    <th>Time left:</th>
                    <th>Description:</th>
                    <th>Total donation:</th>
                    <th>Money left to raise:</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Rescue Me</td>
                        <td>#DominosLovesRescueMe</td>
                        <td>3 days 4 hours</td>
                        <td>Helping with transportation</td>
                        <td>$800</td>
                        <td>$400</td>
                    </tr>
                </tbody>
            </table>
        </div>



        <div class="col-md-6">
            <ul>
                <li>I donated $5! #DominosLovesRescueMe</li>
                <li>I donated $15! #DominosLovesRescueMe</li>
                <li>I donated $5! Pizza for the homeless! #DominosLovesRescueMe</li>
            </ul>
        </div>


    </div>

<div class="row">
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            $400/800
        </div>
    </div>
</div>
</div>
