<div class="container" ng-controller="businessCtrl">
    <h2><span ng-bind="business_info[0].name"></span>'s Page of Progress!</h2>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <th>Charity donated to:</th>
                    <th>Hashtag:</th>
                    <th>Time left:</th>
                    <th>Description:</th>
                    <th>Total donation:</th>
                    <th>Money left to raise:</th>
                </thead>
                <tbody ng-repeat="business in business_info">
                      <tr>
                        <td ng-bind="business.charity"></td>
                        <td ng-bind="business.hashtag"></td>
                        <td ng-bind="business.expiration_date"></td>
                        <td ng-bind="business.donationscol"></td>
                        <td ng-bind="business.total_amount"></td>
                        <td ng-bind="business.amount_left"></td>
                      </tr>
                      <tr>
                        <td colspan="6">
                          <div class="progress">
                              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{(business.total_amount - business.amount_left)/business.total_amount * 100}}" aria-valuemin="0" aria-valuemax="100" style="width:{{(business.total_amount - business.amount_left)/business.total_amount * 100}}%">
                                  $ {{(business.total_amount - business.amount_left)}} / {{business.total_amount}}
                              </div>
                          </div>
                        </td>
                      </tr>

                    </div>
                    <!-- <tr ng-repeat="business in business_info">
                        <td ng-bind="business.charity"></td>
                        <td ng-bind="business.hashtag"></td>
                        <td ng-bind="business.expiration_date"></td>
                        <td ng-bind="business.donationscol"></td>
                        <td ng-bind="business.total_amount"></td>
                        <td ng-bind="business.amount_left"></td>
                        <td>
                          <div class="progress">
                              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{business.amount_left/business.total_amount * 100}}" aria-valuemin="0" aria-valuemax="100" style="width:{{business.amount_left/business.total_amount * 100}}%">
                                  $ {{business.amount_left}} / {{business.total_amount}}
                              </div>
                          </div>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>




    </div>

<div class="row">
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{business_info.amount_left/business_info.total_amount * 100}}" aria-valuemin="0" aria-valuemax="100" style="width:{{business_info.amount_left/business_info.total_amount * 100}}%">
            $ {{business_info.amount_left}} / {{business_info.total_amount}}
        </div>
    </div>
</div>
<div class="col-md-6">
    <ul>
        <li>I donated $5! #DominosLovesRescueMe</li>
        <li>I donated $15! #DominosLovesRescueMe</li>
        <li>I donated $5! Pizza for the homeless! #DominosLovesRescueMe</li>
    </ul>
</div>
</div>
