<div class="container" ng-controller="dashboardCtrl">
	<div class="row">
	    <div class="col-md-12 text-center">
	    	<h1>DASHBOARD</h1>
	    </div>
			<table class="table table-bordered table-striped">
				<thead>
					<th>Business</th>
					<th>Charity</th>
					<th>Description</th>
					<th>Amount Donated</th>
					<th>Amount Left to Recover</th>
					<th>Expiration Date</th>
				</thead>
				<tbody>

					<tr ng-repeat="company in companies">
						<td ng-bind="company.name"></td>
						<td ng-bind="company.charity"></td>
						<td ng-bind="company.donationscol"></td>
						<td ng-bind="company.total_amount"></td>
						<td ng-bind="company.amount_left"></td>
						<td ng-bind="company.expiration_date"></td>
					</tr>
				</tbody>
			</table>
			


    </div>



</div>
