<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('/')}"><a href="/#">Home</a></li>
        <!-- <li ng-class="{ active: isActive('/business')}"><a href="/#business">Business</a></li> -->
        <li ng-class="{ active: isActive('/dashboard')}"><a href="/#dashboard">Dashboard</a></li>
        <li ng-class="{ active: isActive('/donation')}"><a href="/#donation">Donation</a></li>
    </ul>
<!--     <ul class="nav navbar-nav pull-right">
        <li ng-class="{ active: isActive('/#')}"><a href="#">Sign in</a></li>
        <li ng-class="{ active: isActive('/#')}"><a href="#">Sign out</a></li>
    </ul> -->
</div>